DIV.tdftdiv {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 16px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
UL.tdftad {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.tdftad LI {
	BACKGROUND-IMAGE: url(http://st.shinobi.jp/img/tadaima/al.gif); PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 4px; DISPLAY: inline; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FONT-SIZE: 13px; PADDING-TOP: 0px
}
UL.tdftad LI.tdftpr {
	BACKGROUND-IMAGE: url(http://st.shinobi.jp/img/tadaima/pr.gif); PADDING-LEFT: 20px
}
UL.tdftad LI.tdftlink {
	BACKGROUND-IMAGE: url(http://st.shinobi.jp/img/tadaima/link.gif); PADDING-LEFT: 25px
}
UL.tdftad LI A:hover {
	TEXT-DECORATION: none
}
